.item-watchlist {
	display: inline-block;
	margin: 10px 10px 0px 0px;
	padding: 60px;
	background: orange;
	color: white;
}


body {
	color: gray;
}

#lg-header {
	background: gray;
	color: white;
	text-align: center;
}

#browsingSection {
	background: #eee;
}

#browsingSection li {
	margin-bottom: 40px;
	list-style: none;
}

button, input[type="submit"] {
	padding: 10px;
	background: orange;
	border-width: 0px;
	color: white;
}

button:disabled {
	opacity: 0.5;
}

section header {
	margin-bottom: 40px;
}

section, #lg-header {
	padding: 20px;
}

ul {
	padding-left: 0px;
}
